<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>APi REst</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link href="./css/bootstrap.min.css" rel="stylesheet">
     <link href="./css/estilos.css" rel="stylesheet">
  </head>
<body>
  <!-- header -->
  <div class="navbar navbar-inverse navbar-fixed-top nav-arr" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#"><img src="img/logo.png"> Snatly</a>
          </div>
      </div>
  </div>
  <!-- /header -->
  
  <!-- tabs -->
  <div class="container container-arr">
    <div class="row">
      <div class="">
      <h3>Semestre</h3>
        <!-- tabs left -->      
        <div class="tabbable tabs-left" ng-controller="TabsController as tabs">
            <ul class="nav nav-tabs">     
                <li ng-class="{ active:tabs.tab === 1 }"><a ng-click="tabs.selectTab(1)">Primero</a></li>
                <li ng-class="{ active:tabs.tab === 2 }"><a ng-click="tabs.selectTab(2)">Segundo</a></li>
                <li ng-class="{ active:tabs.tab === 3 }"><a ng-click="tabs.selectTab(3)">Tercero</a></li>
                <li ng-class="{ active:tabs.tab === 4 }"><a ng-click="tabs.selectTab(4)">Cuarto</a></li>
                <li ng-class="{ active:tabs.tab === 5 }"><a ng-click="tabs.selectTab(5)">Quinto</a></li>
                <li ng-class="{ active:tabs.tab === 6 }"><a ng-click="tabs.selectTab(6)">Sexto</a></li>
                <li ng-class="{ active:tabs.tab === 7 }"><a ng-click="tabs.selectTab(7)">Séptimo</a></li>
                <li ng-class="{ active:tabs.tab === 8 }"><a ng-click="tabs.selectTab(8)">Octavo</a></li>
                <li ng-class="{ active:tabs.tab === 9 }"><a ng-click="tabs.selectTab(9)">Noveno</a></li>              
            </ul>        
            <div class="tab-content">
                <div  ng-show="tabs.tab === 1">Datos del Primer Semestre</div>
                <div  ng-show="tabs.tab === 2">Datos del Segundo Semestre</div>
                <div  ng-show="tabs.tab === 3">Datos del Tercer Semestre</div>
                <div  ng-show="tabs.tab === 4">Datos del Cuarto Semestre</div>
                <div  ng-show="tabs.tab === 5">Datos del Quinto Semestre</div>
                <div  ng-show="tabs.tab === 6">Datos del Sexto Semestre</div>
                <div  ng-show="tabs.tab === 7">Datos del Séptimo Semestre</div>
                <div  ng-show="tabs.tab === 8">Datos del Octavo Semestre</div>
                <div  ng-show="tabs.tab === 9">Datos del Noveno Semestre
                <!-- materia 1 -->
                   <!-- comments -->
                  <div ng-controller="CommentsController as cmtsCtrl" >
                    <button class="materia btn btn-primary" ng-hide="cmtsCtrl.show" ng-click="cmtsCtrl.toggle()">Tecnicas
                      <span class="badge">{{cmtsCtrl.comments.length}}</span>
                    </button>
                    <div class="panel panel-primary alinear" ng-show="cmtsCtrl.show">
                      <div class="panel-heading">
                        <h1 class="panel-title">Contenido de Tecnicas <button class="close pull-right" ng-click="cmtsCtrl.toggle()">&times;</button></h1>
                      </div>
                      <div class="panel-body"></div>
                    </div>
                  </div>
                  <!-- /comments -->
              <!-- /materia 1 -->
                </div>
               
            </div>      
        </div><!-- /tabs -->          
      </div> 
    </div> 
  </div> 
  <!-- /tabs -->



   <div ng-controller="PostsCtrl">
      <ul ng-repeat="post in posts">
        <li>{{post.content}}</li>
        <li>{{post.slug}}</li>
        <li>{{post.title}}</li>
        <li>{{post.url}}</li>
      </ul>
    </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>